@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #e4e4e7;
  }
}

@layer utilities {
  .bar-filter {
    filter: invert(14%) sepia(98%) saturate(5633%) hue-rotate(252deg)
      brightness(83%) contrast(149%);
  }

  .footer-list::after {
    content: "";
    display: block;
    width: 70px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -30px;
    bottom: 0;
    border-color: rgba(255, 255, 255, 0.08);
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .number {
      font-size: 70px;
      line-height: 70px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .footer-container {
      max-width: 708px;
    }

    .number {
      font-size: 80px;
      line-height: 80px;
    }
  }
  @media only screen and (min-width: 960px) {
    .footer-text {
      font-size: 14px;
      line-height: 25px;
    }
  }
  @media only screen and (min-width: 960px) and (max-width: 1239px) {
    .footer-container {
      max-width: 940px;
    }
  }
  @media only screen and (min-width: 1240px) {
    .footer-container {
      max-width: 1160px;
    }
  }

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
